<div class='root'>
    <label>Fiat currency:</label>
    <select [(ngModel)]="selectedFiatCurrencySymbol" (change)="onSelectFiatCurrencySymbol()">
        <option *ngFor="let fiatCurrencySymbol of fiatCurrencySymbols" value={{fiatCurrencySymbol}}>{{fiatCurrencySymbol}}</option>
    </select>
    <ag-grid-angular style="width: 1024px; height: 768px;" 
                    class="crypto-grid" 
                    rowHeight="60"
                    [rowData]="cryptoCurrenciesWithPrice"
                    [columnDefs]="columnDefs"
                    [animateRows]="true"
                    [getRowNodeId]="getRowNodeId">              
    </ag-grid-angular>
</div>