@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";
// @import "~ag-grid-community/src/styles/ag-theme-balham-dark/sass/ag-theme-balham-dark-mixin.scss";

.crypto-grid {
  @include ag-theme-alpine();
  .ag-cell {
    display: flex;
    align-items: center;
    line-height: unset;
  }

  .ag-header-cell {
    display: flex;
  }

  .ag-row {
    background-color: white;
    &:hover {
      background-color: peachpuff;
    }
  }

  .cell-center {
    justify-content: center;
    margin-top: 3px;
  }

  .cell-right {
    flex-flow: row-reverse;

    .ag-header-cell-label {
      flex-flow: row-reverse;
    }
  }
}
